.form__header{
    color:rgb(40, 156, 156);
    text-align:center;
}
.form__labelText{
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 10px;
    color:rgb(40, 156, 156);
}
.form__field{
    padding:10px;
    width:100%;
    max-width: 350px;
    border-radius: 5px;
}
.form__button{
    width: 100%;
    border:none;
    background-color: rgb(40, 156, 156);
    color: white;
    padding:5px;
    margin: 8px;
    border-radius: 5px;
}
.form__button:hover{
    background-color: hsl(180, 59%, 42%) ;
}
.form__button:active{
    background-color: hsl(180, 59%, 45%) ;
}
.form__result{
    color:rgb(40, 156, 156);
    text-align: center;
    margin: auto;
    font-size: 20px;
}