html{
    box-sizing:border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}
body{
    background-attachment: fixed;
    background-image: url("../images/white-image.png");
    height: auto;
    background-size: cover;
 
    
}

